{% extends 'main/base.html' %}

{% block content %}
<h1>{{title}}</h1>

{% if post.photo %}
<p><img class="img-article-left" src="{{ post.photo.url }}"></p>
{% endif %}

{{ post.content|linebreaks }}
<br>
<p>Автор статьи: {{ post.author }}</p>
{% if post.author == request.user.username or request.user.username == 'admin' %}
    <p class="link-read-post"><a href="{% url 'update' post.slug %}">Редактировать пост</a></p>
    <p class="link-read-post"><a href="{% url 'delete' post.slug %}">Удалить пост</a></p>
{% endif %}
{% endblock %}